<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1 v-if="show">{{message}}</h1>
      <ul>
        <li v-for="item in list">{{item}}</li>
      </ul>
    </div>
  </body>

  <script type="module">
    import Vue from './vue.js';
    new Vue({
      el: '#app',
      data: {
        message: 'hello world!',
        show: true,
        list: ['a', 'b', 'c'],
      },
      mounted() {
        // setTimeout(_ => this.message = '刚刚', 1000)
      },
    });
  </script>
</html>
