<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id='app' class='1'>
        <p>{{message}}-{{message2}}</p>
        <div>
            <p v-if='show'>{{message2}}</p>
            <div>
                <a href="">3</a>
                <input type="text" v-model='message2' />
            </div>
        </div>
        <p v-for='item in list' @click='onAlert(item, $event)' :key='item'>{{item}}</p>
        <button @click='onAdd'>新增</button>
    </div>
</body>
<script src='./vue-test.js'></script>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'hello world!',
            message2: '呵呵',
            show: false,
            list: ['呵1', '呵2', '呵3']
        },
        mounted() {
            // setTimeout(_ => this.message = '刚刚', 1000)
        },
        methods: {
            onAlert(msg, e) {
                console.log('222:', msg, e)
                console.log(this)
                this.show = true;
                this.message2 = '哈哈'
            },
            onAdd() {
                let list = this.list.map(v => v);
                list.push(Date.now())
                this.list = list;
            }
        }
    })
</script>


</html>